@import "/src/app/shared/theme/theme.scss";

.title {
  color: $primary-color;
  text-align: center;
}

.members-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .members-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
